$magenta: #6b0a3a;
$blue: #1a34b2;
$greenLight: lighten($blue, 10%);

@mixin dotBg($bgColor, $size) {
  background-color: $bgColor;
  background-size: $size * 2 $size * 2;
  background-position: 0 0, $size $size;
}

body {
  color: black;
  // background-color: $magenta;
  font-family: sans-serif;
}

#user-profile {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  @include dotBg($blue, 30px);

  hr {
    margin: 20px auto;
    width: 50px;
    border: 1px solid $magenta;
    background-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .top,
  .bottom {
    padding: 19px;
  }

  .bottom {
    background-color: rgba(white, 0.3);
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid #000;
    img {
      width: 100%;
    }
  }
}
